@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-dark: #1e1e1e;
  --background2: #c2c0c0;
  --text: #444545;
  --accent: #05ac7a;
  --highlight: #fff388;
  --primary: #f24333;
  --muted: #999899;
}

.dark {
  --background: var(--background-dark);
  --text: #f8fafc;
  --background2: #7e7e7e;
  --accent: #02be50;
  --highlight: #c4b64b;
  --primary: #ff6659;
  --muted: #777777;
}
