@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-dark: #1e1e1e;
  --background2: #c2c0c0;
  --text: #444545;
  --accent: #38c700;
  --highlight: #fff7ad;
  --primary: #f24333;
  --muted: #999899;
}

.dark {
  --background: var(--background-dark);
  --text: #f8fafc;
  --background2: #7e7e7e;
  --accent: #02be50;
  --highlight: #463d00;
  --primary: #ff3c00;
  --muted: #777777;
}
